{% extends 'base.html.twig' %}

{% block body %}
	<div id="page">
		<div class="container">
			<div>
				<div class="12u">
					<section>
						<div class="post">
							<p class="subtitle">Email: <a href "mailto:mischellecurtin@gmail.com">{{email}}</a></p>
							<p class="subtitle">Phone: {{phone}}</p>
						</div>
					</section>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
