{% extends 'base.html.twig' %}

{% block banner %}
	<div class="container">
		<div id="banner">
			<div class="container"><a href="#"><img src="{{asset('bundles/app/images/pics01.jpg')}}" alt=""></a></div>
		</div>
	</div>
{% endblock %}

{% block body %}

    <div id="page">
        <div class="container">
            <div class="row">
                <div class="9u skel-cell-important" id="content">
                    <section>
                        <div class="post">
                            <h2>Welcome</h2>
                            <!-- <p class="subtitle">augue praesent a lacus at urna congue rutrum</p> -->
                            <p>To the start of my new career as a developer.</p>
                            <p>&nbsp;</p>
                            <p>As I continue to grow in the field, this page will expand to include more connections to my development projects.</p>
                            <!-- <p>&nbsp;</p>
                            <p>Consectetuer adipiscing elit. Nam pede erat, porta eu, lobortis eget, tempus et, tellus. Etiam neque. Vivamus consequat lorem at nisl. Nullam non wisi a sem semper eleifend. Donec mattis libero eget urna. Duis pretium velit ac mauris. Proin eu wisi suscipit nulla suscipit interdum. Aenean lectus lorem, imperdiet at, ultrices eget, ornare et, wisi. Pellentesque adipiscing purus ac magna. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.									Pellentesque pede. Donec pulvinar ullamcorper metus. In eu odio at lectus pulvinar mollis. Vestibulum sem magna, elementum ut, vestibulum eu, facilisis quis, arcu. Mauris a dolor. Nulla facilisi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed blandit. Phasellus pellentesque, ante nec iaculis dapibus, eros justo auctor lectus, a lobortis lorem mauris quis nunc. Praesent pellentesque facilisis elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. In hac habitasse platea dictumst. Nullam id ante eget dui vulputate aliquam. Pellentesque erat erat, tincidunt in, eleifend accumsan, malesuada eget, augue. . -->
                        </div>
                    </section>
                </div>
                <div class="3u" id="sidebar2">
                    <!-- <section>
                        <div class="sbox1">
                            <h2>Links</h2>
                            <ul class="style1">
                                <li class="first"><a href="#">Maecenas luctus lectus at sapien</a></li>
                                <li><a href="#">Etiam rhoncus volutpat erat</a></li>
                                <li><a href="#">Donec dictum metus in sapien</a></li>
                                <li><a href="#">Nulla luctus eleifend purus</a></li>
                                <li><a href="#">Maecenas luctus lectus at sapien</a></li>
                                <li><a href="#">Donec dictum metus in sapien</a></li>
                            </ul>
                        </div>
                    </section> -->
                    <section>
                        <h2>Links</h2>
                        <ul class="style2">
                            <li class="first">
                                <p class="date"><a href="https://github.com/MiscCurt/mischellecurtin.work">GitHub</a></p>
                                <p>Visit the GitHub respository for www.mischellecurtin.work.</p>
                            </li>
                            <!-- <li>
                                <p class="date"><a href="#">September <b>30</b></a></p>
                                <p><a href="#">Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum.</a></p>
                            </li> -->
                        </ul>
                    </section>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
